.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  box-sizing: border-box;
}

.logo {
  width: 256px;
  height: 256px;
}

.loaderIconContainer {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0.3;
  transition: opacity 1s ease-in-out;
}

.loadedIconContainer {
  opacity: 1;
}

.serviceStatusContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 24px;
}

.serviceStatusText {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
  font-weight: 500;
  letter-spacing: 0.5px;
}
